.optimisation {
    position: relative;
    background-color: #fff;
    min-height: 550px;
    min-width: 1140px;

    &__woman {
        position: absolute;
        margin-left: 140px;
        top: 48px;
    }
    &__text {
        position: absolute;
        right: 383px;
        top: 95px;
        width: 750px;
    }
    &__heading {
        text-transform: uppercase;
        color: #299cbd;
        font-size: 30px;
        font-weight: 900;
        padding-bottom: 16px;
    }
    &__descr {
        p {
            line-height: 27px;
            font-size: 17px;
            letter-spacing: -0.3px;
            color: #4a4a4a;
            padding-bottom: 10px;
            span {
                font-weight: 700;
            }
        }
    }
}